<h1><%= @controller %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <%- columns.each do |column| -%>
        <th><%= column.name.humanize %></th>
      <%- end -%>
      <th>Actions</th>
    </tr>
  </thead>
  <%- @columns = columns -%>
  <%- tag_column = @columns.shift -%>
  <tbody>
    <tr ng-repeat="<%= @resource_name%> in <%= @plural_model_name%>">
      <td>
        <a href="/<%= @plural_model_name%>/{{<%= @resource_name%>.id}}">
          {{<%= "#{@resource_name}.#{tag_column.name}"%>}}
        </a>
      </td>
      <%- @columns.each do |column| -%>
        <td>
          {{<%= @resource_name%>.<%= column.name %>}}
        </td>
      <%- end -%>
      <td>
        <a href="/<%= @plural_model_name%>/{{<%= @resource_name%>.id}}/edit"
          class="btn btn-primary"><i class="icon-edit"></i>
          Edit
        </a>
        <button ng-click="destroy()" class="btn btn-danger">
          <i class="icon-trash"></i> Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<p>
  <a href='/<%= @plural_model_name%>/new' class="btn btn-primary">
    <i class="icon-plus"></i>New
  </a>
</p>
