<h1><%= @controller %></h1>
columns: <%= columns %>
<table class="table table-striped">
  <thead>
    <tr>
      <%- columns.each do |column| %>
        <th><%= column.name -%></th>
      <%- end -%>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="<%= @resource_name%> in <%= @plural_model_name%>">
      <td>
        <a href="/<%= @plural_model_name%>/{{<%= @resource_name%>.id}}">
          {{<%= "#{@resource_name}.#{@resource_legend.downcase}"%>}}
        </a>
      </td>
      <%- columns.each do |column| %>
        <td>{{<%= @resource.#{column.name} -%>}}</td>
      <%- end -%>
      <td>
        <a href="/<%= @plural_model_name%>/{{<%= @resource_name%>.id}}/edit"
          class="btn btn-primary"><i class="icon-edit"></i>
          Edit
        </a>
        <button ng-click="destroy()" class="btn btn-danger">
          <i class="icon-trash"></i> Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<p>
  <a href='/<%= @plural_model_name%>/new' class="btn btn-primary">
    <i class="icon-plus"></i>New
  </a>
</p>
